.Header {
  --header-height: 4.6rem;
  border-radius: var(--md-sys-shape-shape-none);
  background-color: var(--md-sys-color-surface-container);
  height: var(--header-height);
  color: var(--md-sys-color-on-surface);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  & section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0 var(--md-sys-padding-medium);
    height: 100%;
    &.left {
      justify-content: flex-start;
    }
    &.center {
      justify-content: center;
    }
    &.right {
      justify-content: flex-end;
      gap: var(--md-sys-padding-medium);
    }
  }

  & section > .headline {
    --text-size: 22pt;
    width: auto;
    height: auto;
    line-height: 28pt;
    font-size: var(--text-size);
  }
}
