:root {
  --accent-rgb: var(--accent);
  --fab-color-surface: rgba(var(--accent-rgb), 1);
  --fab-color-surface-tint: rgba(var(--accent-rgb), 0.9);
  --fab-color-on-surface: #f5f5f5dc;
  --fab-border-radius: 2rem;
  --fab-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  --fab-size-md: 4.2rem;
  --fab-size-lg: 5rem;
  --fab-extended-width-md: 10rem;
  --fab-extended-width-lg: 13rem;
  --fab-edge-space: 2rem;
  --fab-icon-size-divider-md: 1.8;
  --fab-icon-size-divider-lg: 1.8;
  --fab-label-size-divider-md: 4.8;
  --fab-label-size-divider-lg: 4.8;
  --fab-effects-scale: 1;
}

.FAB {
  /* Base Styles */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  border-radius: var(--fab-border-radius);
  background-color: var(--fab-color-surface);
  box-shadow: var(--fab-shadow);
  z-index: 10;
  transition:
    opacity 0.3s,
    background-color 0.3s,
    transform 0.3s;
  border: none;

  /* Hover Effects */
  &:hover {
    transform: scale(var(--fab-effects-scale));
    background-color: var(--fab-color-surface-tint);

    & .Icon {
      opacity: 0.75;
    }

    & .Label {
      opacity: 0.65;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }

  /* Child Element Styles */
  & .Icon {
    color: var(--fab-color-on-surface);
    font-weight: 300;
  }

  & .Label {
    color: var(--fab-color-on-surface);
    font-weight: 600;
  }
}

/* Size Modifiers */
.FAB.medium {
  width: var(--fab-size-md);
  height: var(--fab-size-md);

  &.extended {
    width: var(--fab-extended-width-md);
    padding: 0 18px;

    & .Icon {
      margin-right: 16px;
    }
  }

  & .Icon {
    font-size: calc(var(--fab-size-md) / var(--fab-icon-size-divider-md));
  }

  & .Label {
    font-size: calc(var(--fab-size-md) / var(--fab-label-size-divider-md));
  }
}

.FAB.large {
  width: var(--fab-size-lg);
  height: var(--fab-size-lg);

  &.extended {
    width: var(--fab-extended-width-lg);
    padding: 0 18px;

    & .Icon {
      margin-right: 16px;
    }
  }

  & .Icon {
    font-size: calc(var(--fab-size-lg) / var(--fab-icon-size-divider-lg));
  }

  & .Label {
    font-size: calc(var(--fab-size-lg) / var(--fab-label-size-divider-lg));
  }
}

/* Positioning Classes */
.FAB.left-bottom {
  bottom: var(--fab-edge-space);
  left: var(--fab-edge-space);
}

.FAB.right-bottom {
  bottom: var(--fab-edge-space);
  right: var(--fab-edge-space);
}

.FAB.top-left {
  top: var(--fab-edge-space);
  left: var(--fab-edge-space);
}

.FAB.top-right {
  top: var(--fab-edge-space);
  right: var(--fab-edge-space);
}

.FAB.screen-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.FAB.bottom-center {
  bottom: var(--fab-edge-space);
  left: 50%;
  transform: translateX(-50%);
}
