.Splash {
  --accent-rgb: var(--accent);
  --accent-color: rgba(var(--accent-rgb), 1);
  --color: var(--colors-on-primary, #131313);
  --content-background: rgba(var(--accent), 0.055);
  --backround: transparent;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-large, 24px);
  width: auto;
  height: auto;
  border-radius: var(--border-radius, 2rem);
  gap: var(--padding-medium, 16px);
  line-height: 1.5;
  background-color: var(--background);

  & > button {
    width: 100%;
    justify-content: center;
  }

  & code {
    font-size: 12pt;
    font-weight: bold;
    color: var(--colors-on-primary, #131313);
    background-color: rgba(var(--accent-rgb), 0.4);
    margin: 0px;
    padding: 4px;
    border-radius: var(--border-radius, 2rem);
    text-align: center;
  }

  & p {
    font-size: 12pt;
    color: var(--color, #131313);
    margin: 0px;
    padding: 0px;
  }

  & .icon {
    font-size: 100pt;
    color: rgba(var(--accent-rgb), 0.4);
  }

  & .title {
    font-size: 18pt;
    color: var(--color);
    font-weight: bold;
    width: 100%;
    text-align: center;
  }

  & .content {
    display: flex;
    margin-top: var(--padding-medium, 16px);
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: var(--padding-medium, 16px);
    border-radius: var(--border-radius, 2rem);
    padding: var(--padding-medium, 16px);
    background-color: var(--content-background);
    justify-content: center;
    overflow-y: auto;
    min-width: 270px;
    min-height: 100px;
    max-height: 250px;
  }
}
