.IconButton {
  --ib-size: 2.5rem;
  --ib-i-size: 1.5rem;
  display: inline-flex;
  flex-wrap: 1;
  align-items: center;
  justify-content: center;
  min-height: var(--ib-size);
  min-width: var(--ib-size);
  border-radius: var(--md-sys-values-shape-full);
  color: var(--md-sys-color-on-surface-variant);
  border: none;
  margin: 0;
  padding: 0;
  & > * {
    font-size: var(--ib-i-size);
    width: 100%;
    height: 100%;
  }
  background-color: transparent;
}
