.IconButton {
  --ib-size: 2rem;
  --ib-i-size: calc(var(--ib-size) / 1.4);
  position: relative;
  display: inline-flex;
  min-height: var(--ib-size);
  min-width: var(--ib-size);
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: var(--md-sys-values-shape-full);
  transition: opacity 0.2s ease-in-out;
  & .icon {
    padding: 0;
    margin: 0;
    font-size: var(--ib-i-size);
    color: var(--md-sys-color-on-surface-variant);
    &:hover {
      opacity: 0.8;
    }
  }
}
