.notes-loading {
  position: fixed;
  top: 0.9rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  font-weight: 500;
  font-family: monospace;
  border-radius: var(--md-sys-values-shape-extra-large);
  background-color: transparent;
  backdrop-filter: blur(5px);
  padding: 0.5rem 1rem;
  border: 1px solid var(--md-sys-color-outline-variant);
  display: flex;
  z-index: 40;

  &:after {
    font-size: 1rem;
    content: " ";
    display: inline-block;
    text-align: left;
    animation: dots-end 2s infinite;
  }
  @media (max-width: 768px) {
    width: auto;
    height: auto;
  }
}

@keyframes dots-end {
  0%,
  100% {
    content: " ";
  }
  20% {
    content: " .";
  }
  40% {
    content: " ..";
  }
  60% {
    content: " ...";
  }
}
