.Notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-medium, 16px);
  & .list-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: var(--padding-medium, 16px);
  }
}

& .Splash:is(.notes-loading) {
  background-color: rgba(var(--accent), 0.055);
}
