.FilledButton {
  --bg-color: rgba(var(--accent), 1);
  --text-color: white;
  --max-height: 40px;
  --b-radius: var(--border-radius, 2rem);

  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  height: 100%;
  max-height: var(--max-height);
  width: auto;
  border-radius: var(--b-radius);
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 12pt;
  padding: var(--padding-medium, 16px) var(--padding-medium, 16px);
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}
